<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Board List</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content">
<h1>도서목록</h1>
<form th:object="${board}" name="frm">
	<input type="hidden" name="pageNum" value="1">
	title: <input th:field="*{title}">
	writer: <input th:field="*{writer}">
	<button>검색</button>
	<button type="reset">초기화</button>
</form>
<a th:href="@{/board/register}">등록</a>
<table class=table>
	<tr>
		<td>번호</td>
		<td>제목</td>
		<td>작성자</td>
		<td>등록일</td>
		<td>수정/삭제</td>
	</tr>
	<tr th:each="board : ${pageInfo.list}">
		<td th:text="${board.bno}"></td>
		<td><a th:text="${board.title}" th:href="@{/board/info(bno=${board.bno})}"></a></td>
		<td th:text="${board.writer}"></td>
		<td th:text="${#dates.format(board.regdate,'yyyy-MM-dd')}"></td>
		<td>
		<a th:href="@{/board/update(bno=${board.bno})}">수정</a>
		<a th:href="@{/board/delete(bno=${board.bno})}">삭제</a>
		</td>
	</tr>
</table>
<div th:insert="~{layout/page::page(${pageInfo})}"></div>
<script th:inline="javascript">
	function gopage(pageNum){
		frm.pageNum.value = pageNum;
		frm.submit();
	}
</script>
</div>
</body>
</html>